.profileInfo {
    margin-bottom: 25px;
}

.preloaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.imageBox {
    margin-bottom: 25px;
}

.imageBox img {
    width: 100%;
    aspect-ratio: 3.4;
}

.profileStatusContainer {
    text-align: center;
}

.description {
    font: 700 24px sans-serif;
    color: #6cde9f;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
}

.description div {
    padding-left: 50px
}

.contacts {

}

