.profileInfo {
    margin-bottom: 25px;
}

.preloaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.imageBox {
    margin-bottom: 25px;
}

.imageBox img {
    width: 100%;
    aspect-ratio: 3.4;
}

.profileStatusContainer {
    text-align: center;
}


.imageUpload {
    border: 2px solid #646415;
    display: inline-block;
}

.imageUpload:hover {
    background-color: #646415;
    cursor: pointer;
}

