.profileInfo {
    margin-bottom: 25px;
}

.imageBox {
    margin-bottom: 25px;
}

.imageBox img {
    width: 100%;
    aspect-ratio: 3.4;
}

.description {
    font-size: 16px;
}

.preloaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}