.messages {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs {
    background-color: rgba(180, 232, 210, 0.32);
    padding-top: 25px;
    display: flex;
    row-gap: 20px;
    flex-flow: column nowrap;
}

.chat {
    background-color: rgba(221, 180, 232, 0.32);
}

.chatItem {
}