.user {
    display: flex;
    flex-flow: row nowrap;
}

.userPhoto {
    width: 100px;
    background-color: #647c3e;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 10px;
}

.userPhoto a {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    background-color: #e15176;
}

.userPhoto a:hover {
    background-color: #1ff68c;
}

.userPhoto a:active {
    transform: scale(1.05);
}


.userPhoto button {
    background-color: #95e7d5;
    padding: 5px;
    border-radius: 8px;
}

.userBody {
    background-color: #637ba9;
    padding: 20px;

    font: 400 18px sans-serif;
    letter-spacing: 2px;
}