.posts {

}

.posts h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.postsAddItem {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 10px;
}

.postsAddItem textarea {
    background-color: #282a2e;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid rgba(173, 255, 47, 0.37);
    resize: none;
    width: 200px;
    min-height: 60px;
}

.postsAddItem div {
}

.postsAddItem div button {
    border: 2px solid rgba(173, 255, 47, 0.37);
    padding: 4px 8px;
    border-radius: 8px;
    color: rgba(173, 255, 47, 0.37);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.postsAddItem div button:first-child {
    margin-right: 20px;
}

.postsAddItem div button:active {
    transform: scale(1.05);
}


.postsList {
    background-color: #96af85;
}

