
.profileDescription {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.profileDescription .editButton {
    background-color: #6cde9f;

    padding: 5px 20px;
    border: 4px solid #47a1e1;
    border-radius: 10px;
    margin-bottom: 10px;
}

.buttonShow {
    display: none;
}

.profileDescription ul {

}

.profileDescription ul li {
    font: 700 16px sans-serif;

    display: flex;
    column-gap: 150px;

    margin-bottom: 5px;
    border-bottom: 2px solid rgba(197, 155, 100, 0.16);
}

.profileDescription ul li p {
    color: #39e3cf;
    flex-grow: 1;
}

.profileDescription ul li span {
    color: #d785d7;
}

.profileDescription ul li input {
    background-color: rgba(73, 207, 218, 0.49);
    flex-grow: 0;
    display: block;
    width: auto;
    padding: 0;
}

