.navbar {
    font-size: 36px;
    padding-top: 25px;
}

.item {
    margin-bottom: 25px;
}

.item a {
    cursor: pointer;
}

.navbar .item:last-child {
    margin-bottom: 0;
}

.item a.active {
    color: #8a96c5;
}