.app-wrapper {
    width: 1200px;
    margin: 0 auto;

    display: grid;

    grid-template-areas:
                           'h h'
                           'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
}

main {
    grid-area: c;
}

/* общие стили для вкладок */
/* app-wrapper-content */
main {
    border: 1px solid #1ff68c;
}


