.loadingBar {
    width: 100%;
    height: 4px; /* Высота полосы загрузки */
    background-color: inherit; /* Цвет фона полосы загрузки */
}

.progressBar {
    height: 100%;
    background-color: #ba29d0; /* Цвет полосы загрузки */
    animation: progressAnimation 1s linear infinite; /* Анимация */
}

@keyframes progressAnimation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
