.header {
    background: #66560f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header p {
    font-size: 45px;
    letter-spacing: 15px;
    font-weight: 300;
    color: #282a2e;
}