.app-wrapper {
    width: 1200px;
    margin: 0 auto;

    display: grid;

    grid-template-areas:
                           'h h'
                           'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    grid-area: h;

    background: orange;
}

.nav {
    grid-area: n;

    background: #7272c9;
}

.content {
    grid-area: c;

    background: yellow;
}

img {
    width: 30px;
    height: 30px;
}



